---
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
import Layout from "../layouts/Layout.astro";
---

<Layout
  title={SITE_TITLE}
  description={SITE_DESCRIPTION}
  className="flex h-svh max-w-sm flex-col justify-center"
>
  <main class="space-y-4">
    <p>
      <div style="display:none;">
        <a rel="me" href="https://hachyderm.io/@tiff">Mastodon</a>
      </div>

      <em>yak shaving with tiff</em> is a minimal blog filled with maximum thoughts
      on software. It is a companion to <a
        href="https://tiff.engineer"
        target="_blank"
        class="text-blue-500 underline">tiff on software</a
      >, my main weblog.
    </p>
    <p>
      Heavily inspired by <a
        href="https://leerob.com"
        target="_blank"
        class="text-blue-500 underline">leerob.com</a
      >.
    </p>
  </main>
</Layout>
